<!doctype html>
<html class="h-full" data-theme="light">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>EC Lobby: {{ slug_1 }}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/css/tailwind.css" rel="stylesheet">
    <link href="/public/css/game.css" rel="stylesheet">
    <link href="/public/css/animate.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="description" content="A beautiful, online alternative to the popular Exploding Kittens card game (just with chickens)" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/favicon/site.webmanifest">
    <link rel="canonical" href="https://chickens.rakerman.com/" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta property="og:site_name" content="Exploding Chickens" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Join game lobby: {{ slug_3 }}" />
    <meta property="og:description" content="A beautiful, online alternative to the popular Exploding Kittens card game (just with chickens)" />
    <meta property="og:url" content="https://chickens.rakerman.com/" />
    <meta property="og:image" content="https://chickens.rakerman.com/public/home_ui.png" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="440" />
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
</head>
<!-- Exploding Chickens, lobby page // RAk3rman -->
<body class='flex flex-col h-full anim-scene bg-base-100' x-data="{ sidebar_open: false }" @keydown.window.escape="sidebar_open = false">
{{> banner }}
{{! Navigation bar }}
<nav class="anim-ele anim-ele-fadein">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            {{! Exploding Chickens header }}
            <button class="flex items-center" onclick="window.location.href = '/'">
                <div class="flex-shrink-0">
                    <h1 class="h-8 text-3xl text-base-content" style="font-family: Bebas Neue"><a class="text-primary">EXPLODING</a> CHICKENS</h1>
                </div>
            </button>
            {{! Right sidebar actions }}
            <div class="block">
                <div class="ml-4 flex items-center md:ml-6">
                    <span class="relative inline-flex">
                        {{! Lobby status }}
                        <div class="text-lg font-bold truncate text-base-content py-2 pr-2" id="itr_ele_status"></div>
                        {{! Slide over button }}
                        <button @click="sidebar_open = true" class="inline-flex items-center justify-center p-2 rounded-md text-base-content hover:bg-base-200">
                            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                            </svg>
                        </button>
                        {{! Status ping }}
                        <span class="flex absolute h-2 w-2 top-2 right-2 -mt-1 -mr-1" id="status_ping">
                            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-gray-400 opacity-75"></span>
                            <span class="relative inline-flex rounded-full h-2 w-2 bg-gray-500"></span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</nav>
{{! Game groups }}
<div class="flex justify-center h-screen anim-ele anim-ele-fadein">
    <div id="itr_ele_groups" class="my-auto">
        {{! Waiting for players default }}
        <div class="flex flex-col items-center justify-center h-screen">
            <h3 class="text-3xl text-base-content pb-3 text-center"><strong>Waiting for players to join...</strong></h3>
            <h3 class="text-md text-base-content px-2 text-center">Welcome to <strong>Exploding Chickens</strong>! Lobby: <i>{{ slug_4 }}</i></h3>
            <h3 class="text-md text-base-content px-2 pb-3 text-center">Invite your friends by clicking on the invite link below.</h3>
            <button type="button" onclick="sbr_copy_url()" class="inline-flex items-center px-2 py-1 border border-base-content rounded-md shadow-sm text-sm font-medium text-base-content bg-base-100 hover:bg-base-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="-ml-1 mr-1 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                </svg>
                Invite Link
            </button>
        </div>
    </div>
</div>
{{! Sidebar }}
<div class="fixed inset-0 overflow-hidden z-10 anim-ele anim-ele-fadein" x-show="sidebar_open">
    <div class="absolute inset-0 overflow-hidden" x-show="sidebar_open">
        <div x-show="sidebar_open" x-description="Background overlay, show/hide based on slide-over state." x-transition:enter="ease-in-out duration-500" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="ease-in-out duration-500" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" class="absolute inset-0 bg-base-200 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
        <section @click.away="sidebar_open = false" class="absolute inset-y-0 right-0 pl-10 max-w-full flex" aria-labelledby="slide-over-heading">
            <div class="relative w-screen max-w-md" x-description="Slide-over panel, show/hide based on slide-over state." x-show="sidebar_open" x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700" x-transition:enter-start="translate-x-full" x-transition:enter-end="translate-x-0" x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700" x-transition:leave-start="translate-x-0" x-transition:leave-end="translate-x-full">
                <div x-description="Close button, show/hide based on slide-over state." x-show="sidebar_open" x-transition:enter="ease-in-out duration-500" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="ease-in-out duration-500" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" class="absolute top-0 left-0 -ml-8 pt-4 pr-2 flex sm:-ml-10 sm:pr-4">
                    <button @click="sidebar_open = false" class="rounded-md text-base-content">
                        <span class="sr-only">Close panel</span>
                        <svg class="h-6 w-6" x-description="Heroicon name: x" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
                {{! Content }}
                <div class="h-full flex flex-col py-6 bg-base-100 shadow-xl overflow-y-scroll">
                    {{! Construct sidebar using partials }}
                    {{> sbr_header }}
                    {{> sbr_lobby_widgets }}
                    {{> sbr_options }}
                    {{> sbr_card_packs }}
                    {{> sbr_players }}
                    {{> sbr_event_log }}
                    {{> sbr_footer }}
                </div>
            </div>
        </section>
    </div>
</div>
{{! JS scripts }}
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.2.2/cdn.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
<script src="//embed.typeform.com/next/embed.js"></script>
<script src="/public/js/lscache.js"></script>
<script src="/public/js/moment.js"></script>
<script src="/public/js/lobby/events.js"></script>
<script src="/public/js/lobby/setup.js"></script>
<script src="/public/js/lobby/interface.js"></script>
<script src="/public/js/sidebar.js"></script>
<script src="/public/js/elements.js"></script>
<script src="/public/js/banner.js"></script>
<script>check_banner('{{ bnr_tag }}')</script>
</body>
</html>